// ============================================================================
// Grid spacing
// ============================================================================

.grid--row-spacing {
    > * {
        margin-bottom: $spacing-grid-row-s;
    }

    @include large {
        > * {
            margin-bottom: $spacing-grid-row;
        }
    }
}


.grid--col-spacing {
    margin-left: -$spacing-grid-col;

    > * {
        padding-left: $spacing-grid-col;
    }
}
