.hr--large {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
}

.hr--small {
    margin-top: $spacing;
    margin-bottom: $spacing;
}

.hr--xsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* SG
# Objects/hr


```
<hr class="hr--large"/>
<hr class="hr--small"/>
<hr class="hr--xsmall"/>
```
*/