// ============================================================================
// Content blocks
// ============================================================================

// blocks of padding normally used around content blocks like rich text editors etc

.content-block {
	padding: $content-block-spacing;
}

.content-block-s {
	padding: $content-block-spacing-s;
}

/* SG
# Objects/Content block

```
<div class="content-block">
	<p>Title goes here</p>
	<p>Content goes here...</p>
</div>

<div class="content-block-s">
	<p>Title goes here</p>
	<p>Content goes here...</p>
</div>

```
*/