// ============================================================================
// List -- make list of links block elements
// ============================================================================

.list-block-links {
	a {
		display: block;
	}
}

/* SG
# Objects/list.block-links 
This makes all children a block element

```
<ul class="list-block-links">
	<li><a href="">List item 1 </a></li>
	<li><a href="">List item 2 </a></li>		
</ul>

```
*/