// ============================================================================
// Dotted Borders
// ============================================================================

$dotted-border-size: 2px;

.dotted-border {
    @include border-dotted;
}

    .dotted-border--top {
        border-top-width: $dotted-border-size;
    }

    .dotted-border--bottom {
        border-bottom-width: $dotted-border-size;
    }

    .dotted-border--right {
        border-right-width: $dotted-border-size;
    }

/* SG
# Objects/border dotted

```
<h5>1. dotted-border--top</h5>
<div class="dotted-border dotted-border--top">
    <p> Adds a dotted border to the top </p>
</div>
<h5>2. dotted-border--bottom</h5>
<div class="dotted-border dotted-border--bottom">
    <p> Adds a dotted border to the top </p>
</div>
<h5>3. dotted-border--right</h5>
<div class="dotted-border dotted-border--right">
    <p> Adds a dotted border to the top </p>
</div>

```
*/