/* SG
# Objects/hr
```
<hr />
<hr class="hr--large"/>
<hr class="hr--small"/>
<hr class="hr--xsmall"/>
```
*/

.hr--large {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
}

.hr--small {
    margin-top: $spacing-s;
    margin-bottom: $spacing-s;
}

.hr--xsmall {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
}