// -----------------------------------------------------------------------------
// Inline Grid
// -----------------------------------------------------------------------------

.grid {
    @include clearfix;
    margin:  0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

    .grid > * {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font-size: medium; // Font-size medium reset the block to the context of body (ie, 16px)
        text-justify: auto;
    }


// -----------------------------------------------------------------------------
// Justify grid - push items apart from each other
// -----------------------------------------------------------------------------

.grid--justified,
.grid--polar {
    text-align: justify;
    text-justify: distribute-all-lines;

    > * {
        text-align: left;
    }

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
    }
}


// -----------------------------------------------------------------------------
// Grid spacing
// -----------------------------------------------------------------------------

.grid--row-spacing {
    margin-bottom: $spacing-grid;

    & > * {
        margin-bottom: $spacing-grid;
    }
}

.grid--col-spacing {
    margin-left: -$spacing-grid;

    > * {
        padding-left: $spacing-grid;
    }
}


// -----------------------------------------------------------------------------
// Grid item alignment modifiers - they are top aligned by default
// -----------------------------------------------------------------------------

.grid--middle > * {
    vertical-align: middle;
}

.grid--bottom > * {
    vertical-align: bottom;
}


// -----------------------------------------------------------------------------
// Float grid
// -----------------------------------------------------------------------------

.grid-float {
    @include clearfix;
    width: auto;

    > * {
        float: left;
        width: 100%;
    }
}


// -----------------------------------------------------------------------------
// Flex grid
// -----------------------------------------------------------------------------

.grid-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
